<h1>
  {{title}}
</h1>

 <div class="w3-container w3-teal">
  <h1>{{title}}</h1>
 </div>

<div><p>test firebase {{title}}</p>
<!--p>user={{user.$value}}</p>
<p>fitness={{exercises[fitness].$value}}</p-->
<ul>
  <li class="text" *ngFor="let exercise of exercises | async">
    {{exercise.$key + ":" + exercise.$value}}
  </li>
</ul>
</div>

<div>
test 4
    <!--h4>{{ (testItem | async)?.name }}</h4-->
    <p>{{(testitem | async |json)}}</p>
    <p>{{(testitem | async)?.$value}}</p>
<h1>title= {{ title }}</h1>
end test 4
</div>

<p>test2</p>
<div> {{ (exercises | async | json) }} </div>
<div> {{ (user | async).displayName }} </div>
<button (click)="login()">Login</button>
<button (click)="logout()">Logout</button>

<ul><h3>test 3</h3>
  <li class="text" *ngFor="let item of items | async">
    {{item.$key + ":" + item.$value}}
<p>{{ item | json }}</p>
  </li>
</ul>



